article h3 {
    color: #0386da;
}

.blog-title {
    text-align: center;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
    text-shadow: 1px 1px #0099ff;
    background-color: #002354;
}

.main-content {
    margin-top: 10px;
    border-left: 1px solid #ccc;
}

.post-title {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #000;
    background-color: black;
}

.post-list {
    border-top: 1px solid black;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    
    background-color: black;
}

.post-list a {
  color: #fff;
  text-shadow: 1px 1px #000;
}

.post-list a:hover {
  color: #ccc;
}

.post-list-description {
  font-size: 16px;
}

.post-content {
    margin-top: 10px;
    border-left: 1px solid #ccc;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    font-size: 16px;
}

.footer {
    background-color: #0386da;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
}

.footer a {
    color: #fff;
}

.image-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.image-wrapper img {
  max-width: 100% !important;
  height: auto;
  display: block;
}

@media screen and (max-width: 800px) {
    .post-content {
        margin-top: 10px;
        border-left: 1px solid #ccc;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
        font-size: 16px;
    }
}