<header class="navbar navbar-fixed-top navbar-default" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="http://www.datateaser.com/"><img class="navbar-brand" src="{{ "/img/dt-logo-web.svg" | prepend: site.baseurl }}" alt="Data Teaser"></a>
        </div>
        <nav class="collapse navbar-collapse ds-navbar-collapse">
            <!-- <button class="btn btn-primary btn-lg navbar-right lets-talk js_go-to-scroll" id="reachus">Let's Talk</button> -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href id="http://e.datateaser.com/">e: blog</a></li>
            </ul>
        </nav>
    </div>
</header>